html {
    scroll-behavior: smooth;
}


* {
    margin: 0px;
    
}

.navbar {
    height: 60px;
    background-color: rgb(35, 32, 32);
    border-radius: 20px;
    display: flex;
    text-decoration: none;
    color: white;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    
}

.nav-logo a {
    color: white;
    text-decoration: none;
    font-size: 40px;
    margin-left: 40px;
    
}

.about a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    margin-right: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    
}

.content {
    height: 500px;
    background-color: #ffffff;
    justify-content: center;
    display: flex;
    text-align: center;
    align-items: center;
    margin: end;
    
}


.photo {
    height: 60%;
    width: 300px;
    background-color: black;
    border-radius: 50%;
    margin-left: 0px;
    background-image: url(Rudra.png.jpg);
    background-size: cover;
    margin-top: 199px;

}

/* FOOTER */

.about-info {
    height: 500px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;

}

.about-text {
    font-family: serif;
    line-height: 50px;
    font-size: 25px;
    color: white;
    background-color: black;
    width: 1500px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    text-align: center;

}

.about-logo {
    height: 490px;
    width: 400px;
    background-color: rgb(194, 12, 12);
    margin-right: 20px;
    color: white;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    
    
    
}

.logo-text {
    font-size: 100px;
    margin: 50px;
    text-align: center;
    align-items: center;

}


.skills-info {
    height: 500px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;

}

.skills-text {
    font-family: serif;
    line-height: 50px;
    font-size: 25px;
    color: white;
    background-color: black;
    width: 1500px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    text-align: center;
 
    
    


}

.skills-icon {
    text-align: center;
    align-items: center;
    margin-top: 100px;
    font-size: 200px;
    
}

.skills-logo {
    height: 490px;
    width: 400px;
    background-color: rgb(17, 91, 166);
    
    color: white;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    margin-left: 20px;
    
    
    
}

.skillslogo-text {
    font-size: 100px;
    margin: 50px;
    text-align: center;
    align-items: center;

}

.for-info {
    height: 500px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;

}

.for-text {
    font-family: serif;
    line-height: 50px;
    font-size: 25px;
    color: white;
    background-color: black;
    width: 1500px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    text-align: center;

}

.for-logo {
    height: 490px;
    width: 400px;
    background-color: rgb(70, 194, 12);
    margin-right: 20px;
    color: white;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    font-family: cursive;
    
    
    
}

.forlogo-text {
    
    font-size: 100px;
    margin: 50px;
    text-align: center;
    align-items: center;

}


